
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; 
}

body {
  background-image: url('/img/white-linen-paper-texture.jpg');
}

div, h1 {
  text-align: center;
}

img {
  display: block;
  margin: 30px auto;
  width: 40%;
}

div a {
  text-align: center;
    display: block;
    margin: 0 auto;
}

td, li {
  font-size: 1.25em;
}

input[type='text'] {
  margin: 5px;
  display: inline;
}

.content {
  padding: 50px 20px;
  max-width: 850px;
  text-align: center;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
}

.table td, .table th {
  vertical-align: middle;
  border-top: none;
} 

.grocery-row {
  border-top: 3px dotted red;
  border-bottom: 3px dotted red;
} 

.ckbx-styled {
  width: 30px;
  height: 30px;
}

.align-main { 
  max-width: 800px;
  margin:0 auto;
}

.instruction-links {
  text-align: left;
  margin: 4%;
}

.error-msg {
  margin-top: 20px;
  font-weight: bold;
  color: red;
  font-size: medium;
  border: 2px dotted red;
}

.btn-lg {
  padding: 10px;
}

select.form-control {
  padding: 4px;
  margin-top: 5px;
}

.col-sm-2 {
  padding: 0px;
}

#grocery-table, #rate-table {
  margin: 30px auto 10px auto;
  text-align: left;
}

#rate-table {
  border-top-style: none;  
  border-bottom-style: none; 
  margin-top: 0px;
  margin-bottom: 20px; 
  align-content: center;
  font-weight: bold;
}

#grocery-img {
  vertical-align: auto;
  max-height: 30%;
}

#cost-num, #items-num {
  color: red;
}

#btn-del-item, #btn-reset, #btn-add-item, #btn-select-all {
  border-radius: 7%;
  border-width: 3px;
  margin: 4px 2px;
}

#buttons-section {
  margin-bottom: 20px;
  margin: 15px auto;
}

#btn-save, #btn-field-del-item {
  margin: 5px;
  display: inline-flex;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 3px; 
  width: 25%; 
}

#btn-field-del-item {
  padding-left: 3px;
  padding-right: 3px;
}

#field-quantity {
  width: 27%;
  margin-left: 0px;
  margin-bottom: 10px;
}

#field-add-item {
  width: 38%;
  margin-left: 0px;
  margin-top: 30px;
}

#edit-items-section {
  max-width: 300px;
  margin: auto;
}

#field-delete-item {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 68%;
}

#item-price-field {
  width: 75px;
  margin-left: 0px;
}


#tax-rate-input-field {
  max-width: 85px;
  padding-bottom: 3px;
  margin-left: 0px;
}

#tax-rate-button {
  margin-left: 0px;
  padding: 0px;
}

#currency-drop-down-button{
  margin-top: 5px;
  padding-left: 12px;
  padding-right: 10px;
}


#form-control {
  padding: 3px;
}

#instructions-page {
  font-size: 18px;
  margin:0 auto;
  text-align: center;
  max-width: 700px;
}

#instructions-format {
  display: inline-block; 
  text-align: justify;
}

#instructions-title {
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 680px) {
  #body {
    width: 350px;
  }

  #buttons-section {
    max-width: 400px;
  }

  #grocery-table, #rate-table {
    max-width: 80%;
  }

  #rate-row-cell-0, #rate-row-cell-2, #rate-row-cell-0, #rate-row-cell-3 {
    padding: 0px;
    text-align: left;
  }

   #rate-row-cell-0, #rate-row-cell-2 {
     width: 15px;
     padding-right: 10px;
   }

  #rate-row-cell-1 {
    padding-left: 0px;
  }

  #instructions-page {
    max-width: 85%;
  }

  .instruction-links {
    text-align: center;
  }
}  
